@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/Solid/Rounded";
/* *{
  @apply outline-red-400 outline-dotted outline-1 
} */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white
}
input{
  @apply font-semibold text-primary
}
.input-container{
  @apply duration-200 ease-in outline-none;
}
input:active{
  @apply outline-none;
}
input::placeholder{
  @apply text-primary/70 font-semibold capitalize
}
input:focus{
  @apply outline-none 
}
.input-container:focus-within{
  @apply bg-bgprimary/10
}
i{
  @apply flex items-center w-fit
}